# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (too large for GitHub)
data/
*.pt


# Papermill executed-notebook outputs
notebooks/**/runs/
notebooks/**/outputs/
/logs/
outputs/
runs/


# Personall notes
.my/
