# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (too large for GitHub)
/data/
*.pt


# Papermill executed-notebook outputs
notebooks/**/runs/
notebooks/**/outputs/
/logs/
.outs/*

# Personall notes
.my/
.old/

.venv/
.runs-analyse/
inspo
.venv1
.planning
.papers
.tmp_papers

